@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Barlow:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mali:wght@300&display=swap');

body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Barlow', sans-serif;
}

header {
    width: 100%;
    margin: 0;
    height: 18vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header>h1 {
    font-size: 8vh;
    letter-spacing: 0.7rem;
    color: rgb(229, 59, 150);
    font-family: 'Bangers', cursive;
    text-shadow: 0 7px rgb(61, 61, 61);
    margin: 0;
}

header>p {
    margin-top: 0px;
    font-size: 2vh;
}

main {
    width: 60vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-header {
    height: 30%;
    width: 100%;
    background: linear-gradient(10deg, rgb(75, 75, 75) 0%, rgb(75, 75, 75) 100%);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-header>h2 {
    color: white;
    font-family: 'Mali', cursive;
    font-size: 2.5rem;
}

.main-content {
    width: 100%;
    height: 70%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-content>h2 {
    margin-top: 10px;
}

.main-content>h1 {
    font-family: 'Barlow', cursive;
    font-weight: bold;
    text-shadow: 0 6px rgb(61 61 61);
    color: rgb(229, 59, 150);
    font-size: 5vh;
    letter-spacing: 0.7rem;
    margin: 0;
}

button {
    color: white;
    height: 100px;
    margin-bottom: 10px;
    width: 100%;
    font-family: 'Barlow', sans-serif;
    font-size: 4vh;
    box-shadow: 0 0.5rem rgb(66, 66, 66);
    border-radius: 10px;
    background-color: rgb(255, 0, 234);
}

button:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(229, 59, 150, 0.726);
    transform: scale(1.02);
    transition: transform 100ms;
}

footer {
    width: 60vw;
    height: 12vh;
    background: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

footer>div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.main-courses {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    color: #444;
    width: 100%;
    margin-bottom: 10px;
}

.main-courses>div {
    background-color: rgba(61, 61, 61, 0.5);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 170px;
    padding: 10px;
}