header>h1 {
    font-size: 8vh;
    letter-spacing: 0.7rem;
    font-family: 'Outfit', sans-serif;
    margin: 0;
}

header>p {
    margin-top: 0px;
    font-size: 2vh;
}

main {
    margin-top: 6%;
    width: 60vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    color: aliceblue; /*Texto início*/
    height: 100px;
    margin-bottom: 10px;
    width: 100%;
    font-family: 'Barlow', sans-serif;
    font-size: 4vh;
    border: 2px solid aliceblue;
    box-shadow: 0 0.5rem aliceblue;
    border-radius: 10px;    
    background-color: #ff85ab;
}

button:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(255, 255, 255, 0.726); /*Cor do hover*/
    transform: scale(1.02);
    transition: transform 100ms;
}

footer {
    width: 60vw;
    height: 12vh;
    background: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

footer>div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


/*Estilização div e classes*/

.main-header {
    height: 30%;
    width: 100%;
    background:#ff85ab;
    background:#ff85ab;
    border: 2px solid aliceblue;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-header>h2 {
    color: aliceblue;
    font-family: 'Mali', cursive;
    font-size: 2.5rem;
}

.main-content {
    width: 100%;
    height: 70%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-content>h2 {
    margin-top: 10px;
}

.main-content>h1 {
    font-family: 'Barlow', cursive;
    font-weight: bold;
    text-shadow: 0 4px aliceblue;
    color: #ff85ab;  /*Pontuação números*/
    font-size: 5vh;
    letter-spacing: 0.7rem;
    margin: 0;
}


.main-courses {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    width: 100%;
    margin-bottom: 10px;
}

.main-courses>div {
    background-color: rgba(61, 61, 61, 0.5); /*Cor da caixa do resultados do curso*/
    color: aliceblue; /*Cor do texto*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 170px;
    padding: 10px;
}

.texts{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 11.5px;
}
.ads{
    padding: 0;
    margin-top: 1rem;
}