button {
    height: 100px;
    margin-bottom: 10px;
    width: 100%;
    font-family: 'Barlow', sans-serif;
    font-size: 4vh;
    border: 2px solid aliceblue;
    box-shadow: 0 0.5rem aliceblue;
    border-radius: 10px;
    background-color: #ffffff;
    color: aliceblue; /*Cor do texto*/
}

button:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(255, 255, 255, 0.726);
    transform: scale(1.02);
    transition: transform 100ms;
}

footer {
    width: 60vw;
    height: 12vh;
    background: aliceblue;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

footer>div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}