body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Outfit', sans-serif;
}

header>h1 {
    font-size: 8vh;
    letter-spacing: 0.7rem;
    color: #FF008F;
    font-family: 'Outfit', sans-serif;
    text-shadow: 0 7px rgb(61, 61, 61);
    margin: 0;
}

header>p {
    margin-top: 0px;
    font-size: 2vh;
}

header{
    width:100%;
}

main {
    margin-top: 6%;
    width: 60vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-header {
    height: 30%;
    width: 100%;
    background: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: 20px; */
}

.main-header>h2 {
    color: white;
    font-family: 'Mali', cursive;
    font-size: 2.0rem;
}

.main-content {
    width: 100%;
    height: 70%;
    margin-top: 20px;
}

.header-question {
    margin-left: 10px;
    margin-right: 10px;
}

button {
    color: white;
    height: 100px;
    margin-bottom: 10px;
    width: 100%;
    font-family: 'Barlow', sans-serif;
    font-size: 3vh;
    box-shadow: 0 0.5rem rgb(0, 0, 0);
    border-radius: 10px;
    background-color: #c7c2c2;
}

button:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(255, 255, 255, 0.726);
    transform: scale(1.02);
    transition: transform 100ms;
}

footer {
    width: 60vw;
    height: 12vh;
    background: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

footer>div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}