/*Estilização div e classes*/

body {
    margin: 0;
    height: 100vh; /* Defina a altura da caixa de acordo com a necessidade */
}

.main-content {
    height: 60%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bolder;
}

.main-content{
    margin: 1.5rem; /*posição das caixas*/
}

.header-question {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    padding: 15%;
    text-align: center; /* Centralizar o texto dentro de cada parágrafo */
    max-width: 100%;
    word-wrap: break-word;
}

/*Btns*/
button,
  button:focus {
    outline: none;
    box-shadow: none;
}

.btn-game { /*Respostas*/
  background-color: #D1E8E2;
  width: 60rem;
  height: 5rem;
  margin-top: 1rem;
  border: none;
  outline: none;
  font-size: 3vh;
  border-radius: 1rem;
  color: #444C4C; /*Iniciar Cor*/
  transition: background-color 0.3s;
}
