header>h1 {
    font-size: 8vh;
    letter-spacing: 0.7rem;
    color: #FF008F;
    font-family: 'Outfit', sans-serif;
    margin: 0;
}

header>p {
    margin-top: 0px;
    font-size: 2vh;
}

.main-header {
    height: 30%;
    width: 100%;
    background:#ff85ab;
    border: 2px solid aliceblue;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-header>h2 {
    color: aliceblue;
    font-family: 'Mali', cursive;
    font-size: 2.0rem;
}

.main-content {
    width: 100%;
    height: 70%;
    margin-top: 20px;
}

.header-question {
    margin-left: 10px;
    margin-right: 10px;
}

button {
    color: aliceblue;
    height: 100px;
    margin-bottom: 10px;
    width: 100%;
    font-family: 'Barlow', sans-serif;
    font-size: 3vh;
    border: 2px solid aliceblue;
    box-shadow: 0 0.5rem aliceblue;
    border-radius: 10px;
    background-color: #ff85ab;
}

button:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(255, 255, 255, 0.726);
    transform: scale(1.02);
    transition: transform 100ms;
}

footer {
    width: 60vw;
    height: 12vh;
    background: aliceblue;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

footer>div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}