/*Estilizações gerais*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #8a8888; /*Cor do texto*/
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Outfit', sans-serif;
}


body,html{
  background-color: 	#19747E;
} 

main {
    margin-top: 6%;
    width: 70vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    background-color: #D1E8E2; /* Header cor*/
    font-family: 'Outfit', sans-serif;
    font-weight: bolder;
    width:100%;
    height: 3rem; /*Tamanho do header*/
    position: fixed;
}


/*Btns*/
button,
  button:focus {
    outline: none;
    box-shadow: none;
  }

.btn-sample {
  background-color: #19747E;
  height: 70px;
  margin-top: 1rem;
  width: 15rem;
  border: none;
  outline: none;
  font-size: 4vh;
  font-weight: bolder;
  border-radius: 1rem;
  color: aliceblue; /*Iniciar Cor*/
  transition: background-color 0.3s;
}

.btn-sample:hover,
.btn-sample:focus,
.btn-sample:active {
  background-color: #D1E8E2; /*Hover do iniciar*/
}

.btn-sample:active {
  background-image: none;
}

.btn-sample.disabled,
.btn-sample[disabled],
fieldset[disabled] .btn-sample,
.btn-sample.disabled:hover,
.btn-sample[disabled]:hover,
fieldset[disabled] .btn-sample:hover,
.btn-sample.disabled:focus,
.btn-sample[disabled]:focus,
fieldset[disabled] .btn-sample:focus,
.btn-sample.disabled:active,
.btn-sample[disabled]:active,
fieldset[disabled] .btn-sample:active,
.btn-sample.disabled.active,
.btn-sample[disabled].active,
fieldset[disabled] .btn-sample.active {
  background-color: #D1E8E2;
  border-color: #D1E8E2;
}

.btn-sample .badge {
  background-color: #ffffff;
}

/* Adiciona uma transição de cor para as letras do botão */
.btn-sample {
  transition: color 0.3s;
}
  
/* Muda a cor do texto para preto quando o mouse passa por cima */
  .btn-sample:hover {
    color: #444C4C;
  }

/*IDS & CLasses*/
  .logo{
    width: 4rem;
    height: 4rem;
  }
  .center, header{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #beb{
    font-family: 'Titan One', sans-serif;
    margin-top: -50px;
  }
  
  .btns-dec{
    margin-top: 130px;
  }

  .texts{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 3rem;
  }

  .list-style{
    list-style: square inside;
  }


/*Navbar custom hover*/
  .navbar-custom .navbar-nav .nav-link:hover {
    text-decoration: underline;
    text-decoration-thickness: 0.15em;
  }

  .navbar-custom .navbar-nav .nav-link {
    color: #444C4C; /*Cor das palavras do menu*/
  }


/*Responsividade mobile*/
  @media only screen and (max-width: 768px) {
    .navbar-toggler {
      display: block;
    }
  
    .navbar-collapse {
      display: none;
    }
  
    .navbar-nav {
      text-align: center;
      margin-top: 10px;
    }
  
    .navbar-nav .nav-item {
      display: block;
      margin-bottom: 10px;
    }
  
    .navbar-toggler-icon {
      background-color: #007bff;
    }
  
    .navbar-toggler:hover .navbar-toggler-icon {
      background-color: #0056b3;
    }
  }



/*Menus*/
  .header-content{
    height: 30%;
    width: 80%;
    background:#D1E8E2;
    border: 2px solid aliceblue;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;  
    max-width: 120%; /* Garantir que o texto não ultrapasse a largura da caixa */
    width: 100%;
  }

  .header-content>h2 {
    color: #444C4C;
    font-family: 'Mali', cursive;
    font-size: 2.5rem; 
  }

  .quiz-img{
    width: 70%;
  }